svachmic_master_thesis.aux
svachmic_master_thesis.bbl
svachmic_master_thesis.blg
svachmic_master_thesis.lof
svachmic_master_thesis.log
svachmic_master_thesis.lot
svachmic_master_thesis.out
svachmic_master_thesis.synctex.gz
svachmic_master_thesis.toc
00_pokyny.aux
01_introduction.aux
01_introduction.log
02_analysis.aux
02_analysis.log
03_design.aux
03_design.log
04_implementation.aux
04_implementation.log
05_testing.aux
05_testing.log
06_conclusion.aux
06_conclusion.log
AX_abbrev.aux
AX_abbrev.log
AX_cd.aux
AX_cd.log
AX_install.aux
AX_install.log